name: Sync code to app folder

on:
  push:
    branches:
      - main    # cambia si usas otra rama

jobs:
  deploy:
    runs-on: self-hosted   # usa tu runner en el servidor

    env:
      APP_DIR: /home/boiler/monitor   # <-- ajusta esta ruta

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Crear carpeta de la aplicación
        run: |
          mkdir -p "$APP_DIR"

      - name: Copiar código al directorio de la aplicación
        run: |
          rsync -av --delete ./ "$APP_DIR"/
