name: Sync code to app folder

on:
  push:
    branches:
      - main    # cambia si usas otra rama

jobs:
  deploy:
    runs-on: self-hosted   # usa tu runner en el servidor

    env:
      APP_DIR: /home/boiler/monitor
      VENV_DIR: /home/boiler/monitor/.venv

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Crear carpeta de la aplicación
        run: |
          mkdir -p "$APP_DIR"

      - name: Copiar código al directorio de la aplicación
        run: |
          rsync -av --delete ./ "$APP_DIR"/
      
      - name: Crear / actualizar entorno virtual
        working-directory: ${{ env.APP_DIR }}
        run: |
          if [ ! -d "$VENV_DIR" ]; then
            python3.13 -m venv "$VENV_DIR"
          fi
          source "$VENV_DIR/bin/activate"
          pip install --upgrade pip
          if [ -f "requirements.txt" ]; then
            pip install -r requirements.txt
          fi
